[submodule "cvss"]
	path = base/submodules/cvss
	url = https://github.com/FIRSTdotorg/cvss-v4-calculator.git
[submodule "oscal-rest"]
	path = base/submodules/oscal-rest
	url = https://github.com/EasyDynamics/oscal-rest
[submodule "base/submodules/fedramp_automation"]
	path = base/submodules/fedramp_automation
	url = https://github.com/GSA/fedramp-automation.git
